.row
  .col-lg-12
    .bs-component
      .jumbotron
        %h1 GitHub Ranks for 2014
        %p
          GitHub stargazers count rankings for users, organizations and repositories.
        %p
          = link_to '#', class: 'btn btn-primary btn-lg' do
            Sign in with GitHub
