.content.container
  %h2.page-title
    Repo Stars (#{@repos_count})

  %section.widget
    %header
      %h4
        Starred Repos

    .body
      %table.table.table-striped.no-margin.mb-sm
        %thead
          %tr
            %th
              id
            %th
              login
            %th
              description

        %tbody
          - @repos.each do |repo|
            %tr
              %td
                = repo.id
              %td
                = repo.full_name
              %td
                = repo.description
