<configuration>
  <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>log/github-ranking-worker.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>log/github-ranking-worker.log.%i.gz</fileNamePattern>
      <minIndex>1</minIndex>
      <maxIndex>3</maxIndex>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>100MB</maxFileSize>
    </triggeringPolicy>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss Z} [%level] (%thread\) %logger: %m%n</pattern>
    </encoder>
  </appender>

  <logger name="org.jooq.Constants" level="warn" />
  <logger name="org.jooq.tools.Convert" level="info" />
  <logger name="org.jooq.tools.LoggerListener" level="info" />

  <root level="DEBUG">
    <appender-ref ref="file"/>
  </root>
</configuration>
