- content_for :page_scripts do
  -# FIXME: change link for asset pipeline
  / page specific scripts
  / page specific libs
  %script{src: "assets/light_blue/bootstrap-select/dist/js/bootstrap-select.min.js"}
  %script{src: "assets/light_blue/underscore/underscore.js"}
  %script{src: "assets/light_blue/backbone/backbone.js"}
  %script{src: "assets/light_blue/backbone.paginator/lib/backbone.paginator.min.js"}
  %script{src: "assets/light_blue/backgrid/lib/backgrid.min.js"}
  %script{src: "assets/light_blue/backgrid-paginator/backgrid-paginator.js"}
  %script{src: "assets/light_blue/datatables/media/js/jquery.dataTables.min.js"}
  / page application js
  %script{src: "assets/light_blue/tables-dynamic.js"}

.content.container
  %h2.page-title
    User Stars

  %section.widget
    %header
      %h4
        Table
        %span.fw-semi-bold Styles
    .body
      %table.table.table-striped.no-margin.mb-sm
        %thead
          %tr
            %th
              a
            %th
              a
        %tbody
          %tr
            %td
              214
            %td
              aa
