.content.container
  %h2.page-title
    Tables -
    %span.fw-semi-bold Dynamic
  %section.widget
    %header
      %h4
        Table
        %span.fw-semi-bold Styles
      .widget-controls
        .width-200
          .input-group.input-group-sm.input-group-transparent.input-group-rounded
            %span.input-group-addon
              %i.fa.fa-search
            %input#search-countries.form-control{:placeholder => "Search Countries", :type => "text"}/
    .body
      %p
        Editable, validatable, filterable and sortable table made with
        %a{:href => "http://backgridjs.com/", :target => "_blank"} Backgrid.js
      #table-dynamic
  %section.widget
    %header
      %h4
        Table
        %span.fw-semi-bold Styles
      .widget-controls
        %a{"data-widgster" => "expand", :href => "#", :title => "Expand"}
          %i.glyphicon.glyphicon-chevron-up
        %a{"data-widgster" => "collapse", :href => "#", :title => "Collapse"}
          %i.glyphicon.glyphicon-chevron-down
        %a{"data-widgster" => "close", :href => "#", :title => "Close"}
          %i.glyphicon.glyphicon-remove
    .body
      %p
        Column sorting, live search, pagination. Built with
        %a{:href => "http://www.datatables.net/", :target => "_blank"} jQuery DataTables
      .mt
        %table#datatable-table.table.table-striped.table-hover
          %thead
            %tr
              %th Id
              %th Name
              %th.no-sort.hidden-xs Info
              %th.hidden-xs Description
              %th.hidden-xs Date
              %th.no-sort Status
          %tbody
            %tr
              %td 1
              %td
                %span.fw-semi-bold Algerd
              %td.hidden-xs
                %small
                  %span.fw-semi-bold Type:
                  \&nbsp; JPEG
                %br/
                %small
                  %span.fw-semi-bold Dimensions:
                  \&nbsp; 200x150
              %td.hidden-xs
                %a{:href => "#"} Palo Alto
              %td.hidden-xs June 27, 2013
              %td.width-150
                .progress.progress-sm.mt-xs
                  .progress-bar.progress-bar-success{:style => "width: 29%;"}
            %tr
              %td 2
              %td
                %span.fw-semi-bold Vitaut
              %td.hidden-xs
                %small
                  %span.fw-semi-bold Type:
                  \&nbsp; PNG
                %br/
                %small
                  %span.fw-semi-bold Dimensions:
                  \&nbsp; 6433x4522
              %td.hidden-xs
                %a{:href => "#"} Vilnia
              %td.hidden-xs January 1, 1442
              %td.width-150
                .progress.progress-sm.mt-xs
                  .progress-bar.progress-bar-danger{:style => "width: 19%;"}
            %tr
              %td 3
              %td
                %span.fw-semi-bold Honar
              %td.hidden-xs
                %small
                  %span.fw-semi-bold Type:
                  \&nbsp; AVI
                %br/
                %small
                  %span.fw-semi-bold Dimensions:
                  \&nbsp; 1440x980
              %td.hidden-xs
                %a{:href => "#"} Berlin
              %td.hidden-xs August 6, 2013
              %td.width-150
                .progress.progress-sm.mt-xs
                  .progress-bar.progress-bar-gray-light{:style => "width: 49%;"}
            %tr
              %td 4
              %td
                %span.fw-semi-bold Jack
              %td.hidden-xs
                %small
                  %span.fw-semi-bold Type:
                  \&nbsp; PNG
                %br/
                %small
                  %span.fw-semi-bold Dimensions:
                  \&nbsp; 12x43
              %td.hidden-xs
                %a{:href => "#"} San Francisco
              %td.hidden-xs August 19, 2013
              %td.width-150
                .progress.progress-sm.mt-xs
                  .progress-bar{:style => "width: 69%;"}
            %tr
              %td 5
              %td
                %span.fw-semi-bold Leon
              %td.hidden-xs
                %small
                  %span.fw-semi-bold Type:
                  \&nbsp; MP4
                %br/
                %small
                  %span.fw-semi-bold Dimensions:
                  \&nbsp; 800x480
              %td.hidden-xs
                %a{:href => "#"} Brasilia
              %td.hidden-xs October 1, 2013
              %td.width-150
                .progress.progress-sm.mt-xs
                  .progress-bar.progress-bar-gray-light{:style => "width: 9%;"}
            %tr
              %td 6
              %td
                %span.fw-semi-bold Max
              %td.hidden-xs
                %small
                  %span.fw-semi-bold Type:
                  \&nbsp; TXT
                %br/
                %small
                  %span.fw-semi-bold Dimensions:
                  \&nbsp; -
              %td.hidden-xs
                %a{:href => "#"} Helsinki
              %td.hidden-xs October 29, 2013
              %td.width-150
                .progress.progress-sm.mt-xs
                  .progress-bar.progress-bar-warning{:style => "width: 38%;"}
            %tr
              %td 7
              %td
                %span.fw-semi-bold Pol
              %td.hidden-xs
                %small
                  %span.fw-semi-bold Type:
                  \&nbsp; MOV
                %br/
                %small
                  %span.fw-semi-bold Dimensions:
                  \&nbsp; 640x480
              %td.hidden-xs
                %a{:href => "#"} Radashkovichi
              %td.hidden-xs November 11, 2013
              %td.width-150
                .progress.progress-sm.mt-xs
                  .progress-bar.progress-bar-danger{:style => "width: 83%;"}
            %tr
              %td 8
              %td
                %span.fw-semi-bold Chrishna
              %td.hidden-xs
                %small
                  %span.fw-semi-bold Type:
                  \&nbsp; DOC
                %br/
                %small
                  %span.fw-semi-bold Dimensions:
                  \&nbsp; -
              %td.hidden-xs
                %a{:href => "#"} Mumbai
              %td.hidden-xs December 2, 2013
              %td.width-150
                .progress.progress-sm.mt-xs
                  .progress-bar.progress-bar-info{:style => "width: 40%;"}
            %tr
              %td 9
              %td
                %span.fw-semi-bold Leslie
              %td.hidden-xs
                %small
                  %span.fw-semi-bold Type:
                  \&nbsp; AVI
                %br/
                %small
                  %span.fw-semi-bold Dimensions:
                  \&nbsp; 4820x2140
              %td.hidden-xs
                %a{:href => "#"} Singapore
              %td.hidden-xs December 6, 2013
              %td.width-150
                .progress.progress-sm.mt-xs
                  .progress-bar.progress-bar-warning{:style => "width: 18%;"}
            %tr
              %td 10
              %td
                %span.fw-semi-bold David
              %td.hidden-xs
                %small
                  %span.fw-semi-bold Type:
                  \&nbsp; XML
                %br/
                %small
                  %span.fw-semi-bold Dimensions:
                  \&nbsp; -
              %td.hidden-xs
                %a{:href => "#"} Portland
              %td.hidden-xs December 13, 2013
              %td.width-150
                .progress.progress-sm.mt-xs
                  .progress-bar.progress-bar-gray-light{:style => "width: 54%;"}
            %tr
              %td 11
              %td
                %span.fw-semi-bold Andrej
              %td.hidden-xs
                %small
                  %span.fw-semi-bold Type:
                  \&nbsp; VOB
                %br/
                %small
                  %span.fw-semi-bold Dimensions:
                  \&nbsp; 6433x4522
              %td.hidden-xs
                %a{:href => "#"} Minsk
              %td.hidden-xs December 14, 2013
              %td.width-150
                .progress.progress-sm.mt-xs
                  .progress-bar{:style => "width: 25%;"}
            %tr
              %td 12
              %td
                %span.fw-semi-bold Julia
              %td.hidden-xs
                %small
                  %span.fw-semi-bold Type:
                  \&nbsp; JPEG
                %br/
                %small
                  %span.fw-semi-bold Dimensions:
                  \&nbsp; 40x40
              %td.hidden-xs
                %a{:href => "#"} Hrodna
              %td.hidden-xs July 9, 2012
              %td.width-150
                .progress.progress-sm.mt-xs
                  .progress-bar.progress-bar-warning{:style => "width: 50%;"}
            %tr
              %td 13
              %td
                %span.fw-semi-bold Ihnat
              %td.hidden-xs
                %small
                  %span.fw-semi-bold Type:
                  \&nbsp; JAVA
                %br/
                %small
                  %span.fw-semi-bold Dimensions:
                  \&nbsp; -
              %td.hidden-xs
                %a{:href => "#"} Los Angeles
              %td.hidden-xs August 2, 2012
              %td.width-150
                .progress.progress-sm.mt-xs
                  .progress-bar.progress-bar-success{:style => "width: 8%;"}
            %tr
              %td 14
              %td
                %span.fw-semi-bold Abraham
              %td.hidden-xs
                %small
                  %span.fw-semi-bold Type:
                  \&nbsp; DOCX
                %br/
                %small
                  %span.fw-semi-bold Dimensions:
                  \&nbsp; -
              %td.hidden-xs
                %a{:href => "#"} Panama
              %td.hidden-xs September 3, 2012
              %td.width-150
                .progress.progress-sm.mt-xs
                  .progress-bar.progress-bar-gray-light{:style => "width: 80%;"}
            %tr
              %td 15
              %td
                %span.fw-semi-bold Tomas
              %td.hidden-xs
                %small
                  %span.fw-semi-bold Type:
                  \&nbsp; JPEG
                %br/
                %small
                  %span.fw-semi-bold Dimensions:
                  \&nbsp; 1800x1420
              %td.hidden-xs
                %a{:href => "#"} Amsterdam
              %td.hidden-xs November 13, 2012
              %td.width-150
                .progress.progress-sm.mt-xs
                  .progress-bar.progress-bar-gray-light{:style => "width: 10%;"}
            %tr
              %td 16
              %td
                %span.fw-semi-bold Scott
              %td.hidden-xs
                %small
                  %span.fw-semi-bold Type:
                  \&nbsp; PNG
                %br/
                %small
                  %span.fw-semi-bold Dimensions:
                  \&nbsp; 240x460
              %td.hidden-xs
                %a{:href => "#"} Sluck
              %td.hidden-xs December 5, 2012
              %td.width-150
                .progress.progress-sm.mt-xs
                  .progress-bar{:style => "width: 93%;"}
            %tr
              %td 17
              %td
                %span.fw-semi-bold Pham
              %td.hidden-xs
                %small
                  %span.fw-semi-bold Type:
                  \&nbsp; MAIL
                %br/
                %small
                  %span.fw-semi-bold Dimensions:
                  \&nbsp; -
              %td.hidden-xs
                %a{:href => "#"} Tokyo
              %td.hidden-xs December 8, 2012
              %td.width-150
                .progress.progress-sm.mt-xs
                  .progress-bar.progress-bar-danger{:style => "width: 44%;"}
            %tr
              %td 18
              %td
                %span.fw-semi-bold Peter
              %td.hidden-xs
                %small
                  %span.fw-semi-bold Type:
                  \&nbsp; PNG
                %br/
                %small
                  %span.fw-semi-bold Dimensions:
                  \&nbsp; 8320x6400
              %td.hidden-xs
                %a{:href => "#"} Cape Town
              %td.hidden-xs December 29, 2012
              %td.width-150
                .progress.progress-sm.mt-xs
                  .progress-bar.progress-bar-gray-light{:style => "width: 5%;"}
            %tr
              %td 19
              %td
                %span.fw-semi-bold Uladz'
              %td.hidden-xs
                %small
                  %span.fw-semi-bold Type:
                  \&nbsp; JPEG
                %br/
                %small
                  %span.fw-semi-bold Dimensions:
                  \&nbsp; 2200x1600
              %td.hidden-xs
                %a{:href => "#"} Mahileu
              %td.hidden-xs December 7, 2013
              %td.width-150
                .progress.progress-sm.mt-xs
                  .progress-bar.progress-bar-gray-light{:style => "width: 0%;"}
.loader-wrap.hiding.hide
  %i.fa.fa-circle-o-notch.fa-spin

- content_for :page_scripts do
  / page specific scripts
  / page specific libs
  %script{src: "assets/light_blue/bootstrap-select/dist/js/bootstrap-select.min.js"}
  %script{src: "assets/light_blue/underscore/underscore.js"}
  %script{src: "assets/light_blue/backbone/backbone.js"}
  %script{src: "assets/light_blue/backbone.paginator/lib/backbone.paginator.min.js"}
  %script{src: "assets/light_blue/backgrid/lib/backgrid.min.js"}
  %script{src: "assets/light_blue/backgrid-paginator/backgrid-paginator.js"}
  %script{src: "assets/light_blue/datatables/media/js/jquery.dataTables.min.js"}
  / page application js
  %script{src: "assets/light_blue/tables-dynamic.js"}
