# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: a3675d3b238395977b2bc01d5dfdd1374aeb850162983ffe5408f8a90d26618fcb4e64f02ef4bd22365a133ab2dad678f22a8b0740510932c5bbc3d5a2b64740

test:
  secret_key_base: 5f5284343856c0d606f001dd2baef548fc5c149c44648aa37ace56d60a5b034bd7a448f6300d49f02a408c71c03425f144327334a0e8085c94803f3c99e27799

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
