.row
  .col-lg-12
    = render_flash :warning

    .bs-component
      .jumbotron
        %h2 Search users or organizations

        = form_tag search_path, method: :get do
          .row
            .form-group.col-lg-3
              = search_field_tag :q, params[:q], class: 'form-control cl-lg-8',
                placeholder: 'GitHub username'
            .col-lg-1
              = submit_tag 'Search', class: 'btn btn-default'
