// First import cerulean variables
@import "bootswatch/yeti/variables";

// Then bootstrap itself
@import "bootstrap";

// Bootstrap body padding for fixed navbar
body { padding-top: 60px; }

// And finally bootswatch style itself
@import "bootswatch/yeti/bootswatch";
