.navbar {
  .login_avatar {
    width: 16px;
    height: 16px;
    margin: -4px 4px 0 0;
  }

  #header_search.btn {
    padding: 4px 12px;
  }
}

footer {
  margin: 55px 0 45px 0;
}

#user_profile {
  .user_avatar {
    @include border-radius(6px);
    width: 100%;
  }

  .user_avatar_small {
    width: 24px;
    height: 24px;
  }

  .user_login {
    display: block;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
    margin-bottom: 8px;

    .fa {
      font-size: 16px;
    }
  }

  .user_attribute {
    color: #999;
    font-size: 20px;
  }

  .user_value {
    color: #444;
    font-size: 20px;
  }

  .queued_at,
  .rate_limit {
    color: #aaa;
  }

  .update_button {
    margin-top: 12px;
  }

  @media (min-width: $screen-sm-max) {
    .page-header {
      margin-top: 0;
    }
  }

  .go_to_github {
    margin: 8px 0 8px 0;
  }
}
