.searches_controller {
  .page-header {
    margin-top: 10px;

    .search_form {
      padding: 0;
    }

    .search_form .form-control {
      height: auto;
      padding: 4px 6px;
    }

    .btn-sm {
      padding: 6px 12px;
    }
  }

  h1 {
    font-size: 24px;
    margin: 4px 0 10px 0;
  }
}
