.page-header
  %h1
    Organizations Ranking

    %span.pull-right
      = limited_paginate @organizations, window: 2

.row
  - half = Organization.default_per_page / 2
  - organizations = @organizations.to_a
  .col-lg-6
    .list-group
      = render organizations.first(half)
  .col-lg-6
    .list-group
      = render organizations.drop(half)

.text-center
  = limited_paginate @organizations, window: 10
