%script{ async: true, src: 'https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js' }
%ins{
  class: 'adsbygoogle',
  style: 'display:block',
  'data-ad-client': 'ca-pub-1394383573150433',
  'data-ad-slot': '8962885489',
  'data-ad-format': 'auto',
  'data-full-width-responsive': 'true',
}
%script
  (adsbygoogle = window.adsbygoogle || []).push({});
