%header
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        = link_to "Githubranks", root_url, class: "brand"

        %ul.nav
          - links = { "menu1" => "#",
            "menu2" => "#",
            "menu3" => "#",
          }
          - links.each do |label, path|
            %li{ class: current_page?(path) ? "active" : "" }
              = link_to label, path

        %ul.nav.pull-right
          %li
            = link_to "Login", "#"
