.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      = link_to '#', class: 'navbar-brand' do
        GitHub Ranks Dec. 2014
      %button{ class: 'navbar-toggle', data: { toggle: 'collapse', target: '#navbar-main' } }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

    #navbar-main.navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to '#' do
            Sign in with GitHub
